/* ABOUT Start */
.about {
  margin: 9.3rem 0;
}

.img {
  width: 100%;
  padding: 0 0.3rem;

  img {
    width: 100%;
  }
}

.about-info {
  margin-top: 4rem;
  padding: 0 2rem;
  text-align: center;

  h2 {
    text-transform: uppercase;
    font-size: 3rem;
    font-weight: 400;
  }

  p {
    margin-top: 1.5rem;
    font-family: $font-family-Alata;
    font-size: 1.45rem;
    line-height: 1.7;
    color: $dark-Gray;
  }
}

@media (min-width: 1200px) {
  .about {
    margin: 8.3rem 0;
    position: relative;
  }

  .img {
    width: 66%;
    position: relative;
    z-index: -2;
  }

  .about-info {
    position: absolute;
    top: 28%;
    right: 10%;
    left: 51%;
    padding: 9.5rem 2.5rem 1.5rem 9.5rem;
    text-align: left;
    background-color: $white;

    h2 {
      font-size: 4.5rem;
    }

    p {
      margin-top: 3rem;
    }
  }
}

/* ABOUT End */
